<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="mars.clocki"
	android:versionCode="1"
	android:versionName="1.0" >

  <uses-sdk
    android:minSdkVersion="11"
    android:targetSdkVersion="19" />

  <application
    android:allowBackup="false"
    android:icon="@drawable/square_green_big_full"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:debuggable="true">

    <activity
      android:name="mars.clocki.interfaces.HomeActivity"
      android:label="@string/app_name"
      android:launchMode="singleInstance"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level1Activity"
      android:label="@string/i_only_18_steps"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level2Activity"
      android:label="@string/ii_daisy"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level3Activity"
      android:label="@string/iii_violet"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level4Activity"
      android:label="@string/iv_poppy"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level5Activity"
      android:label="@string/v_pansy"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level6Activity"
      android:label="@string/vi_snowdrop"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level7Activity"
      android:label="@string/vii_red_donkey"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level8Activity"
      android:label="@string/viii_trail"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.Level9Activity"
      android:label="@string/ix_ambush"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.SettingsActivity"
      android:label="@string/settings"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.HelpActivity"
      android:label="@string/help"
      >
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="mars.clocki.interfaces.HomeActivity"
       />
    </activity>

    <activity
      android:name="mars.clocki.interfaces.levels.WinningDialogActivity"
      android:theme="@android:style/Theme.Dialog"
      />

  </application>
</manifest>